.container {
    position: relative;
    top: 60px;
    padding: 30px;
}

.expandedRowContent {}

.expandedRowContent p strong {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.expandedRowContent p {
    margin: 0;
    padding: 0;
}

.noContent {
    color: #999;
    font-style: italic;
}