.container {
    text-align: center;
    font-size: 3rem;
    line-height: 1.8em;

    position: sticky;
    top: 30px;

}

.container::selection {
    background-color: #f0f0f0;
    color: #000;
}

.container .logoutIcon {
    position: absolute;
    right: 40px;
    top: 0;
    cursor: pointer;
    font-size: 0.6em;
}

.container .logoutIcon:hover {
    color: #0f72be;
    background-color: transparent;
}