.container {
    text-align: center;
    font-size: 3rem;
    line-height: 1.8em;

    position: sticky;
    top: 30px;
    color: #838383;

}

.container::selection {
    background-color: #f0f0f0;
    color: #000;
}

.container .logoutIcon {
    position: absolute;
    right: 40px;
    top: 17px;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1;
    padding: 3px;
}

.container .logoutIcon:hover {
    color: #1986da;
    background-color: transparent;
}

.container .heading {
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 672px) {

    .container {
        font-size: 1.6rem;
        line-height: 1.5em;
        padding: 0 15px;
    }

    .container .logoutIcon {
        position: absolute;
        right: 20px;
        top: 2px;
        cursor: pointer;
        font-size: 1em;
        line-height: 1;
        padding: 3px;
    }



    .container .heading {
        text-align: left;
    }


}